{% extends "account/base.html" %}
{% block title %}Indlu.pl - logowanie.{% endblock title %}
{% load staticfiles %}
{% block content %}
      <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">indlu</h1>

            </div>
            <h3>Witamy w inldu.pl</h3>
            <p>
            </p>
            <p>Zaloguj się aby skorzystać z wszystkich opcji inldu.</p>
            <form role="form" data-parsley-validate="" novalidate="" class="m-t" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
                <div class="form-group">
                    <input name="login" type="email" class="form-control" placeholder="Username" value="a@a.com" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" value="qwe" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Zaloguj</button>

                <a href="#"><small>Zapomniałeś hasła?</small></a>
                <p class="text-muted text-center"><small>Nie masz konta?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url 'account_signup' %}">Utwórz konto</a>
            </form>
            <p class="m-t"> <small>Indlu.pl  &copy; 2015</small> </p>
        </div>
    </div>
{% endblock content %}


