{% extends "account/base.html" %}
{% block content %}
    <div class="panel-body">
               <p class="text-center pv">PASSWORD RESET</p>
               <form role="form">
                  <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>
                  <div class="form-group has-feedback">
                     <label for="resetInputEmail1" class="text-muted">Email address</label>
                     <input id="resetInputEmail1" type="email" placeholder="Enter email" autocomplete="off" name="email" class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <button type="submit" class="btn btn-danger btn-block">Reset</button>
               </form>
            </div>
{% endblock content %}