{% extends "account/base.html" %}
{% block title %}Indlu.pl - rejestracja.{% endblock title %}
{% block content %}
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">Indlu</h1>

            </div>
            <h3>Rejestracja do Indlu</h3>
            <p>Utwórz konto aby mieć dostęp do wszystki opcji.</p>
            <form class="m-t" method="POST" role="form" action="{% url 'account_signup' %}">
                {{form.error}}
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" id="id_email" name="email" placeholder="Adres e-mail" type="email" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_password1" name="password1" placeholder="Hasło" type="password" />
                </div>
                <div class="form-group">
                    <input class="form-control" id="id_password2" name="password2" placeholder="Hasło" type="password" />
                </div>
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Akceptuje regulamin i politykę prywatności </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Rejestruj</button>

                <p class="text-muted text-center"><small>Masz już konto?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url 'account_login' %}">Zaloguj</a>
            </form>
            <p class="m-t"> <small>Indlu.pl  &copy; 2015</small> </p>
        </div>
    </div>

{% endblock content %}